<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>
	RewriteEngine On

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)/$ /$1 [L,R=301]

	RewriteCond %{REQUEST_URI} !(\.css|\.js|\.font-awesome|\.fonts|\.img|\.LESS|\.png|\.jpg|\.gif|robots\.txt)$ [NC]
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^ index.php [L]

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_URI} !^/public/
	RewriteRule ^(css|js|images)/(.*)$ public/$1/$2 [L,NC] 
	php_value  post_max_size -1
	php_value  upload_max_filesize -1
	php_value  memory_limit -1

</IfModule>
